/* CSS Document */	
/* Main*/
body, #pagina1{
	background: linear-gradient(#DDDDDD, #CCCCCC) repeat scroll 0 0 #ddd;
	width:100%;
	background: #ddd;
}

p{
	text-align:justify;
}
#logoIntro{
	margin: 30px auto;
}

#logoIntro img{
	transform:rotate(30deg);
	margin: 10px;
	border:2px solid #ddd;
}

/* Component */
#clearFooter{
	height:40px;
	background: #ddd;
}

#footer  {
	width:100%;
	margin:auto;
	position:absolute;
	bottom:0;
	height:40px;
	clear:both;
	background: #ddd;
}
	    
#content {
	position : relative;
	padding-top : 10px;
	padding-bottom : 44px;
	margin: auto;
	position:relative;
		background: #ddd;
}

.ui-body-b, .ui-overlay-b{
background: #ddd;
}
